### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# general files that shouldn't be uploaded.
cacm
.project
cacm_tokens
.datee05.59e
classifiers/english.conll.4class.distsim.crf.ser.gz
classifiers/english.conll.4class.distsim.prop
classifiers/english.muc.7class.distsim.crf.ser.gz
classifiers/english.muc.7class.distsim.prop
classifiers/example.serialized.ncc.ncc.ser.gz
classifiers/example.serialized.ncc.prop
cacm_small
